.header-edit-user {
  color: #4caf50;
  font-weight: 900;
  text-align: center;
}

.form-edit-user {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-edit-user {
  width: 50%;
  margin: 5px 0;
  padding: 5px 3px;
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  border: 0;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

#button-edit-user {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4caf50;
  width: 50%;
  border: 0;
  padding: 15px;
  color: #ffffff;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
